* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.App {
  background-color: rgba(17, 246, 66, 0.12);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modaldiv {
  width: 60%;
  height: 80%;
  background-color: #fff;
  border-radius: 28px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  padding: 24px;
}
.borderLine {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  
}
.borderLine div {
  width: 2px;
  height: 60%; 
  background-color: lightgray;
}
.leftModal {
  display: flex;
  flex-direction: column;
  
}

.rightModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.rightModal img {
  position: relative;
  display: block;
  max-width: 100%;
  padding: 15%;

}

.topRow {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  

}
.bottomColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.bottomColumn form {
  width: 70%;
  
  
}
.applyBtn {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.applyBtn button {
  border: 0px;
  padding: 12px 28px;
  border-radius: 4px;
  background-color:#008036 ;
  color: #fff;
}


select,input {
  margin-bottom: 12px;
  padding: 12px 6px;
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;


}
label {
  color: gray;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 4px;
}

.trackerTitle {
  font-size: 18px;
  font-weight: bold;
  color:#008036;
  /* border-bottom: 2px solid #D0E8AC; */

}

/* MEDIA QUERIES BREAK POINTS */

/* MOBILE PHONE  */
@media only screen 
   and (min-width : 320px) {
   /* Styles here */
}

/* TABLET */
@media only screen 
   and (min-width : 768px) {

    .modaldiv { 
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      height: auto;
      grid-template-areas: 
      "first"
      "last";

    }
    .rightModal{ 
      grid-area: first;

    }
    .borderLine {
      display: none;
    }
    .leftModal {
      grid-area: last;

    }

   
}

/* LAPTOP */
@media only screen 
   and (min-width : 1200px) {
    
    .modaldiv { 
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 1fr;
      height: 80%;
      grid-template-areas: "first middle last"}
    .rightModal{ 
      grid-area: last;

    }
    .borderLine {
      display: flex;
      grid-area: middle;
    }
    .leftModal {
      grid-area: first;

    }
}